2captcha-python==1.5.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anticaptchaofficial==1.0.61
anyio==4.3.0
attrs==23.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
capsolver==1.0.7
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colored==2.2.4
dataclasses-json==0.6.4
dateutils==0.6.12
deepgram-sdk==3.2.1
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
et-xmlfile==1.1.0
fastapi==0.115.0
fastapi-cli==0.0.5
filelock==3.16.1
frozenlist==1.4.1
fsspec==2024.9.0
groq==0.9.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.25.1
hyperframe==6.0.1
idna==3.6
Jinja2==3.1.4
joblib==1.4.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
mutagen==1.47.0
mypy-extensions==1.0.0
networkx==3.3
numpy==2.1.1
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.0
pandas==2.2.3
peewee==3.17.6
pillow==10.4.0
praw==7.7.1
prawcore==2.4.0
py==1.11.0
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
pytube==15.0.0
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.9.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sentence-transformers==3.1.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
starlette==0.38.6
sympy==1.13.3
threadpoolctl==3.5.0
tokenizers==0.20.0
torch==2.4.1
tqdm==4.66.5
transformers==4.45.1
tweepy==4.14.0
tweety-ns==1.1.9
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.2
update-checker==0.18.0
urllib3==2.2.3
uvicorn==0.31.0
verboselogs==1.7
watchfiles==0.24.0
websocket-client==1.8.0
websockets==12.0
yarl==1.9.4
youtube-dl==2021.12.17
yt-dlp==2024.8.6
